/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

/* std defaults*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* set defaults for whole page*/
body {
    font-family: 'roboto', sans-serif;
    background: moccasin;
    min-width: 364px;
    z-index: 99;
    /* background: url("../images/background.jpg") repeat center center/cover; */
}

/* style header and fix size */
header {
    background-color: rgba(255, 227, 179, 0.8);
    border: 5px solid brown;
    border-radius: 10px;
    align-self: center;
    position: fixed;
    min-width: 345px;
    width: 99%;
    padding: 10px;
    top: 0;
    margin: auto;
}

/* spread title, level and info buttin dynamically */
#header-top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
}

#info-icon{
    font-size: 1.2em;
}
.popup-text {
    margin: 15px;
}
#selected-level {
    font-weight: 900;
    align-self: center;
    text-transform: uppercase;
}

#info-icon {
    font-weight: 900;
    align-self: center;
    font-size: 1.4em;
}

/* fix size of word entry and submit button */
#entry-panel {
    max-width: 350px;
    position: float;
    margin: auto;  
}

/* place inputs dynamically in a grid and space correctly */
#input-fields {
    display: grid;
    grid-template-columns: 75% 25%;
    gap: 3px;
}

/* style list of used letters */
#guessed-letters {
   text-transform: uppercase;
    font-weight: 900;
    min-height: 44px;
    padding-left: 10px;
    padding-right: 10px;
    background: moccasin;
}

/* ensure used letters wrap to next row */
#used-letters {
    letter-spacing: 0.5em;
    overflow-wrap: break-word;
    text-align: center;
}

/* stuyle word input box */
#user-guess {
    display: block;
    background: moccasin;
    border: 3px solid black;
    border-radius: 5px;
    padding: 3px;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    box-shadow: inset gray 0px 0px 60px -12px;
    text-transform: uppercase;
    width: 100%;
    
}

#user-guess::placeholder {
    color: rgb(100, 100, 100);
    text-transform: lowercase;
}

/* style guess button */
#guess-button {
    display: block;
    background: burlywood;
    border: 3px solid brown;
    border-radius: 5px;
    padding: 3px;
    width: 100%;
    min-width: 79px;
    height: 50px;
    font-weight: bold;
    font-size: 1.1em;
    margin: auto;
}

#guess-button:hover {
    background: green;
    color: white;
    border-color: black;
}

/* place word area below inputs */
#word-area {
    margin-top: 70px;
  display: block;
 
}

/* positioning of one row of letters */
.guess-row {
    display: flex;
    justify-content: center;

}

#guess-rows {
    position: float;

    z-index: -1;
}

/* standard style of a letter box/tile */
.letter-box {
    background: burlywood;
    border: 3px solid brown;
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 5px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3em;
    border-radius: 10px;
    aspect-ratio: 1 / 1;
}

/* class to highlight which box contains a letter in correct position */
.correct-posit {
    background: rgba(0, 200, 0, 0.5);
}

/* class to highlight which box contains a letter in wrong position */
.correct-letter {
    background: rgb(255, 200, 0.5);
}

#footer {
    background-color: rgba(255, 227, 179, 0.8);
    border: 5px solid brown;
    border-radius: 10px;
    align-self: center;
    position: float;
    min-width: 345px;
    width: 99%;
    padding: 10px;
    top: 0;
    margin: auto;
}

/* position popup boxes in middle fo screen */
.popup-message {
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);

    width: 90%;
    min-width: 345px;
    max-width: 400px;
    height: 370px;
    border: 5px solid brown;
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
    background:rgba(251, 229, 187, 0.8);
    font-weight: 900;
    font-size: 1.5em;
    text-transform: uppercase;
}

/* style level buttons on popup */
.level-button {
    height: 50px;
    text-align: center;
    font-weight: 900;
    font-size: 1.1em;
    margin-bottom: 20px;
    width: 80%;
    border: 4px solid black;
    border-radius: 10px;
}

.level-button:hover {
    background: green;
    cursor: pointer;
    color: white;
}

/* style of winning popup - default hidden */
#popup-won {
    display: none;
    font-size: 1.5em;
    background: lightgreen;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

#picture-medal {
    margin-top: 30px;
}

/* style of losing popup - default hidden */
#popup-lost {
    display: none;
    background: orange;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

/* style of instructions popup - default hidden */
#popup-info {
    display: flex;
    background:rgba(251, 229, 187, 1);
    font-size: 1em;
    text-transform: unset;
    text-align: Left;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 99;
}

#popup-info #picture-info {
    justify-content: center;
    width: 100%;
    height: auto;
}

.hide {
    display: none; /*hide semantic elements not needed*/
}

/* increase size of solution word */
#answer-word {
    font-size: 2em;
}

#turnNumber {
    display: none; /* hide DOM turn counter */
}

#maxTurns {
    display: none; /* hide DOM max turns */
}


/* MEDIA QUERIES FOR LANDSCAPE AND LARGER SCREENS */

@media screen and (min-width: 712px) {
    
    /* #word-area {
        position:relative;
        top: -170px;
        left: 350px;
     } */

     /* #popup-won {
        position: fixed;
        left: 0;
    }
     #popup-lost {
        position: fixed;
        left: 0;
    }
     
     #popup-info {
        position: fixed;
        left: 0;
    }

    #popup-level {
        position: fixed;
        left: 0;
    } */

}