/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

/* std defaults*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* set defaults for whole page*/
body {
    font-family: 'roboto', sans-serif;
    background: moccasin;
    /* border: 10px solid brown;
    border-radius: 10px; */
    min-width: 364px;
    z-index: 99;
    
}

header {
    background-color: rgba(255, 227, 179, 0.8);
    border: 5px solid brown;
    /* border-bottom: 5px solid brown; */
    align-self: center;
    position: fixed;
    width: 100%;
    padding: 10px;
    top: 0;
    max-width: 400px;
    margin: 4px;
}

#header-top-row {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    justify-self: center;
}

#selected-level {
    font-weight: 900;
    align-self: center;
}

#gear-icon {
    font-weight: 900;
    align-self: center;
    font-size: 1.4em;
}

#entry-panel {
   max-width: 400px;
}

/* style list of used letters */
#guessed-letters {
    border: 3px solid black;
    border-radius: 5px;
    background: white;
    text-transform: uppercase;
    font-weight: 900;
   
}

#used-letters {
    letter-spacing: 0.5em;
    overflow-wrap: break-word;
    text-align: center;
}

#user-guess {
    display: block;
    background: moccasin;
    border: 3px solid black;
    border-radius: 5px;
    padding: 3px;
    font-weight: bold;
    font-size: 1.7em;
    text-align: center;
    box-shadow: inset gray 0px 0px 60px -12px;
    text-transform: uppercase;
    width: 100%;
}

#user-guess::placeholder {
    color: rgb(100, 100, 100);
    text-transform: lowercase;
}

/* style guess button */
#guess-button {
    display: block;
    background: burlywood;
    border: 3px solid brown;
    border-radius: 5px;
    padding: 3px;
    width: 100%;
    height: 50px;
    font-weight: bold;
    font-size: 1.5em;
    margin: auto;
}

#guess-button:hover {
    background: green;
    color: white;
    border-color: black;
}

#word-area {
    margin-top: 220px;
}

#guess-rows {
  /* min-width: 350px; */
}

/* positioning of one row of letters */
.guess-row {
    display: flex;
    justify-content: center;
    
}

/* standard style of a letter box/tile */
.letter-box {
    background: burlywood;
    border: 3px solid brown;
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 5px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3em;
    border-radius: 10px;
    aspect-ratio: 1 / 1;
}

/* class to highlight which box contains a letter in correct position*/
.correct-posit {
    background: rgba(0, 200, 0, 0.5);
}

/* class to highlight which box contains a letter in wrong position*/
.correct-letter {
    background: rgb(255, 200, 0.5);
}



/* position popup boxes in middle fo screen */
.popup-message {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    height: 500px;
    border: 4px solid brown;
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
    background: white;
    font-weight: 900;
    font-size: 1.5em;
    text-transform: uppercase;
}

/* style level buttons on popup*/
.level-button {
    height: 50px;
    text-align: center;
    font-weight: 900;
    font-size: 1.1em;
    margin-bottom: 20px;
    width: 200px;
    border: 4px solid black;
    border-radius: 10px;
}

.level-button:hover {
    background: green;
    cursor: pointer;
}

/* hide popups*/
/* style of level select popup - default hidden */
#popup-level {
    display: none;
}

/* style of winning popup - default hidden */
#popup-won {
    display: none;
    font-size: 3em;
    background: lightgreen;
}

/* style of losing popup - default hidden */
#popup-lost {
    display: none;
    background: orange;
}

/* increase size of solution word */
#answer-word {
    font-size: 2em;
}

#turnNumber {
    display: none;
}